@font-face
  font-family: $font-title
  src: url(/fonts/signika/signika-regular.woff2)
  font-display: swap

@font-face
  font-family: $font-text
  src: url(/fonts/public-sans.woff2)
  font-display: swap

