@keyframes aniSlideLanding
  from
    background-position-x: -100vw
  to
    background-position-x: 0

@keyframes aniHat
  from
    transform: rotate(0)
  5%
    transform: rotate(10deg)
  7%
    transform: rotate(0)
  to
    transform: rotate(0)

.landing
  min-height: 100vh
  background: $color-green
  text-align: center
  color: $color-white
  &__grid
    display: grid
    min-height: 100vh
    grid-template-columns: repeat(2, 1fr)
  &__logo
    grid-column: 1 / 2
    grid-row: 1 / 2
    display: flex
    justify-content: center
    align-items: center
    &-img
      max-width: 15rem
      transform-origin: right bottom
      animation:
        name: aniHat
        delay: 5s
        timing-function: ease-in-out
        iteration-count: infinite
        duration: 10s
  &__titles
    grid-column: 2 / 3
    grid-row: 1 / 2
    display: flex
    flex-direction: column
    justify-content: center
  &__title
    font-size: 3rem
    margin: 0
  &__subtitle
    font-size: 1.3rem
  &__background
    position: relative
    z-index: 100
    animation:
      name: aniSlideLanding
      duration: 3s
      timing-function: ease-in-out
      iteration-count: infinite
      direction: alternate
    @include backgroundLanding()
    background-color: $color-blue
    &::before, &::after
      display: block
      content: ''
      position: absolute
      z-index: -1
      top: 0
      left: 0
      right: 0
      bottom: 0
      @include backgroundLanding()
      animation:
        name: aniSlideLanding
        duration: 4s
        timing-function: ease-in-out
        iteration-count: infinite
        direction: alternate-reverse
    &::after
      z-index: -2
      animation:
        duration: 5s
        direction: alternate
