.main
  &__grid
    display: grid
    grid-template-columns: 15rem auto
  &__title
    margin-bottom: 4rem
    color: $color-green
  .mark
    height: 2rem
  .container
    margin: 5rem
    margin-bottom: 0
  h2
    font-weight: normal
    margin: 3rem 0
