.main
  &__grid
    display: grid
    grid-template-columns: 15rem auto
  &__title
    margin-bottom: 4rem
  .mark
    height: 2rem
  .container
    margin: 5rem
  h2
    font-weight: normal
    margin: 3rem 0
